.btn{
    width: 125px;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;

    &.btn-amarelo{
        background-color: yellow;
        color: black;
        cursor: pointer;
    }
    &#btn-azul{
        background-color: blue;
        color: white;
        cursor: pointer;
    }
}
.btn-roxo{
    @extend .btn;
    background-color: purple;
    color: white;
    cursor: pointer;
}



