$btn-color: #ff4043;
$btn-width: 85px;
$btn-heigth: 100px;

.btn-1{
    width: $btn-width;
    background-color: $btn-color;
    height: $btn-heigth;
}
.btn-2{
    width: $btn-width;
    background-color: $btn-color;
    height: $btn-heigth;
}
